body{
  margin:0px;
  padding: 0px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

*{
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  outline: none;
  border: none;
}

input{
  outline: none;
  border: none;
}

#main{
  width:100%;
  height:100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./components/images/background.png');
}

.logo img{
  width: 170px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  transition: 0.2s ease-in-out;
}

nav.active{
  background-color: transparent;
}

nav ul{
  display: flex;
}

.active{
  background-color: #3c6e71;
  color: white;
  transition: all ease-out 0.2s;
}

nav ul li a{
  font-family: calibri;
  height:40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color:#000000;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

nav ul li a:hover{
  background-color: #f8b62b;
  color:aliceblue;
  box-shadow: 5px 10px 30px #b3cdce;
  transition: all ease 0.2s;
}

nav .btn-menu,
.icon-menu{
		display:none;
}

.title{
	font-family: 'Montserrat';
	width: 500px;
	position: absolute;
  text-align: right;
  font-size: 20px;
  right: 0%;
	top: 55%;
	transform: translate(-22%,-50%);
}

.title .detail{
  color: #f8b62b;
  font-size: 16px;
}

.title h1{
  font-family:'Montserrat';
  font-size: 45px;
  margin:0px;
  letter-spacing: 1px;
  color:#3c6e71;
}

.dw-btn{
	width:140px;
	height: 50px;
	display: flex;
	justify-content: center;
  align-items: center;
  position: relative;
  left: 360px;
  background-color: #3c6e71;
  border-radius: 10px;
	color:#ffffff;
}
.dw-btn:hover{
  background-color: #f8b62b;
}

#features{
  width:100%;
  height:100vh;
  position: relative;
  box-sizing: border-box;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url('./components/images/features-bckg.png');;
}

.features-header{
  margin-top: -3%;
  font-family: 'Montserrat';
	width: 500px;
}

.features-header h1{
  color:#3c6e71;
  font-size: 40px;
  margin-top: -5%;
  margin-bottom: -5px;
}

.features-header p{
  font-family: 'Montserrat';
  color: white;
  font-size: 14px;
  margin-top: 15px;
}

.features-container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
}

.features-item{
  background-color: #ffffff;
  width: 290px;
  height: 400px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
  position: relative;
}

.features-img{
  width: 100%;
  height: 70%;
}

.features-img img{
  padding: 10px;
  margin-top: 30px;
  width:80%;
  height: 80%;

}

.a-box:hover{
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.features-text{
  width: 100%;
  height: 20%;
  display:flex;
  justify-content: center;
  margin-top: -20px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.features-text p{
  margin-top: -10px;
}

#Sponsored{
  width:100%;
  height:20vh;
}

.sponsored-bkg img{
  width: 50%;
  margin-top: -15px;
}

.sponsored-header h1{
  margin-top: 15px;
  color: red;
}

#Interface{
  width:100%;
  height:100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./components/images/interface-bckg.png');
}

#Download{
  width:100%;
  height:100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./components/images/download-bckg.png');
}

#footer{
	background: #142627;
	box-sizing: border-box;
	width: 100%;
  height: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 35px 50px 50px 50px;
}

.copyright{
  position: absolute;
  background-color: rgb(205, 235, 217);
  margin-top: 50px;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.copyright p{
  color: black;
  padding-top: -5px;
  font-style: inherit;
  font-size: small;
}

.footer-left,
.footer-center,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer-left{
  margin-top: 10px;
	width: 40%;
}

.footer-center{
	margin-top: 20px;
}

.footer-right{
  margin-top: 30px;
}

.footer-logo img{
  width: 50%;
}

.footer-links{
	color:  #ffffff;
	margin: -40px 70px -10px;
	padding: 10px;
}

.footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #f8b62b;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.footer-links .link-1:before {
  content: none;
}

.footer-center{
	width: 35%;
}

.footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
  line-height: 40px;
	vertical-align: middle;
	margin:0;
}

.footer-center p span{
	display:block;
  margin-bottom: -10px;
}

.footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-right{
	width: 20%;
}

.footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-team-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

#about{
  padding: 20px;
  width: 100%;
  height: 100vh;
  margin-top: -2%;
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('./components/images/about-bckg.png');
}

.about-header {
  font-family: "Montserrat", sans-serif;
	color: #f8b62b;
  font-weight: 300;
  padding: 30px;
  margin-top: 20px;
}

.about-header h1, .about-header h2, .about-header h3 {
  color: #3c6e71;
  font-size: 40px;
}

.about-header .deskripsi {
  color: rgb(234, 61, 61);
  line-height: 24px;
  margin-top: -10px;
  font-size: 16px;
}

.about-profiles {
  display: flex;
  justify-content: space-around;
  margin: 15px 80px 40px;
  color: #000000;
}

.profile-item {
  flex-basis: 200px;
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;  
}

.profile-item .profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  padding: 10px;
  transition: 400ms;
}

.profile-item:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  margin-bottom: -15px;
  font-size: 18px;
}

.user-path {
  padding-top: -10%;
  color: #3c6e71;
}

.profile-item h2 {
  font-family: "Montserrat", sans-serif;
  white-space: pre-line;
  font-size: 25px;
}

.profile-item p {
  font-size: 14px;
  margin-top: -10px;
}

.profile-item h3{
  font-size: 17px;
  margin-top: 45px;
}

/* Responsive Layout */
@media(max-width:1200px){
  .icon-menu{
    display:block;
  }
  nav{
      justify-content: space-between;
      height: 65px;
      padding: 0px 30px;
  }
  .logo img{
      width:120px;
  }
  .dw-btn{
      margin: 0;
  }
  .home-menu{
      display:none;
      position:absolute;
      top:65px;
      left:0px;
      background-color:#FFFFFF;
      border-bottom:4px solid #3c6e71;
      width:100%;
      padding:0px;
      margin:0px;
  }
  .home-menu li{
      width:100%;
  }
  nav .home-menu li a{
      width:100%;
      height:40px;
      justify-content: center;
      align-items: center;
      margin:0px;
      padding: 25px;
      border:1px solid rgba(38,38,38,0.03);
  }
  nav .icon-menu{
      cursor:pointer;
      float:right;
      padding:28px 20px;
      position:relative;
      user-select: none;
  }
  nav .icon-menu .nav-icon{
      background-color:#333333;
      display:block;
      height:2px;
      position:relative;
      transition: background 0.2s ease-out;
      width:18px;
  }
  nav .icon-menu .nav-icon:before,
  nav .icon-menu .nav-icon:after{
      background:#333;
      content:'';
      display:block;
      height:100%;
      position:absolute;
      transition:all ease-out 0.2s;
      width:100%;
  }
  nav .icon-menu .nav-icon:before{
      top:5px;
  }
  nav .icon-menu .nav-icon:after{
      top:-5px;
  }
  nav .btn-menu:checked ~ .icon-menu .nav-icon{
      background:transparent;
  }
  nav .btn-menu:checked ~ .icon-menu .nav-icon:before{
      transform: rotate(-45deg);
      top:0;
  }
  nav .btn-menu:checked ~ .icon-menu .nav-icon:after{
      transform: rotate(45deg);
      top:0;
  }
  nav .btn-menu{
      display:none;
  }
  nav .btn-menu:checked ~ .home-menu{
      display:block;
  }
}

@media(max-width: 1200px) {
  #about {
    height: auto;
  }
  .about-profiles{
    display: grid;
    grid-template-columns: 250px 250px 200px;
    align-items: center;
  }
  .profile-item{
    text-align: left;
    margin: 0px 0px 30px 0px;
    font-size: 20px;
  }
  .profile-item .profile-img {
    height: 180px;
    width: 180px;
  }
  .profile-item .user-name{
    margin-top: 5px;    
  }
  .profile-item .user-path{
    margin-top: 25px;    
  }
  .profile-item .profile-desc{
    display: inline-block;
    vertical-align:top;
    margin-left: 15px;
  }
  
}

@media(max-width: 600px) {
  #profile{
    width: auto;
  }
  .about-profiles{
    display: inline;
  }
  .profile-item .profile-desc{
    display: inline-block;
    margin-top: 5px;
  }
  .profile-item .profile-img {
    height: 140px;
    width: 140px;
  }
  .profile-item{
    text-align: left;
    margin-left: 25px;
    font-size: 20px;
  }
  .profile-item .user-name{
    font-size: medium;    
  }
  .profile-item .user-path{
    font-size: small;   
  }
}

@media(max-width:800px){
  .footer-links a{
    display: inline;
  }
  .footer-logo img{
    width: 200px;
    margin-bottom: 20px;
  }
  .footer-left,
  .footer-center,
  .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer .footer-center i{
    margin-left: 0;
  }
}

@media(max-width:1200px){
  #main{
    background-size: 1400px;
		background-image: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url('./components/images/background.png');
	}
	.title{
		left: 50%;
		top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
	}
  .title .detail{
    color: #3c6e71;
    font-size: 15px;
    margin: 20px;
    line-height: 23px;
  }  
  .title h1{
    font-family:'Montserrat';
    font-size: 36px;
    margin:30px 30px 0px 30px;
    line-height: 45px;
    letter-spacing: 1px;
    color:#f8b62b;
  }
  .dw-btn{
    width: 120px;
	  height: 40px;
    left: 40%;
    text-align: center;
    font-size: medium;
    background-color: #3c6e71;
  }

  #features{
		height:auto;
  }
  .features-container{
		flex-wrap: wrap;
    margin-bottom: 30px;
	}
  .features-header{
    margin-top: 100px;
  }
  .features-item{
		background-color: whitesmoke;
    border-radius: 25px;
    height: 390px;
    width: 300px;
	}
  .features-img img{
		object-fit:contain;
    margin-top: -10px;
    width: 260px;
    height: 260px;
  }
  .features-header h1{
    font-size: 35px;
  }
  .features-header p{
    color: #0a2628;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 25px;
  }

  #Sponsored{
    height: 200px;
    width: auto;
  }
  .sponsored-header h1{
    font-size: 24px;
    margin-top: 40px;
  }
  .sponsored-bkg img{
    width: 450px;
    margin-top: 0px;
  }

}

      